.map-init-component {
  position: relative;
  width: 100%;
  height: 100%;

  .amap-marker-label {
    border: none;
    background-color: transparent;
  }

  .left-nav-poi-shadow {
    box-shadow:
      0 12px 48px 16px rgb(0 0 0 / 3%),
      0 9px 28px 0 rgb(0 0 0 / 5%),
      0 6px 16px -8px rgb(0 0 0 / 8%);
  }

  .aux-color-bg-b10 {
    background-color: #fff;
  }

  .amap-info-sharp {
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
}
