.do-page-hotel-city-gather {
  position: relative;
  height: 100%;

  .do-page-hotel-city-gather-constor {
    top: 60px;
  }

  .ant-spin-nested-loading,
  .ant-spin-container {
    height: 100%;
  }

  .amap-info-sharp {
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      margin-top: -7px;
      border-top: 8px solid rgb(0 0 0 / 30%);
      filter: blur(2px);
    }
  }

  .label-select {
    position: absolute;
    top: 20px;
    left: 130px;

    & > div {
      border-radius: 4px;
    }
  }

  .do-page-hotel-city-gather-btn {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .amap-info-sharp {
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      margin-top: -7px;
      border-top: 8px solid rgb(0 0 0 / 30%);
      filter: blur(2px);
    }
  }
}
