.tips-explain-style {
  display: flex;
  align-items: center;
}

:global(.tips-explain-modal) {
  :deep(.tips-explain-box) {
    padding: 20px;
    height: 100%;

    .tips-explain-box-title {
      user-select: none;
    }

    .tips-explain {
      margin-bottom: 20px;

      .tips-explain-item-not-icon-l {
        position: relative;
        padding-left: 18px;
      }

      .tips-explain-item-not-icon {
        margin-bottom: 12px;
      }

      .tips-explain-item {
        position: relative;
        padding-left: 10px;
        margin-bottom: 8px;

        &:after {
          position: absolute;
          top: 10px;
          left: 0;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #4e6aff;
          content: "";
        }

        .tips-explain-item-child {
          margin-top: 8px;
        }

        .tips-explain-child-item {
          margin-top: 8px;

          & > div {
            margin-left: 8px;
          }
        }

        .item-gen-style-fn(@color, @fontSize, @padding, @icontop, @iconleft, @content) {
          position: relative;
          margin: 0px 4px 0px 4px;
          padding: @padding;
          color: @color;
          font-size: unit(@fontSize, px);
          font-weight: bold;

          &:after {
            position: absolute;
            top: unit(@icontop, px);
            left: unit(@iconleft, px);
            font-family: "iconfont" !important;
            font-size: 12px;
            content: @content;
          }
        }

        .item-rise-bg {
          border-radius: 2px;
          background: rgba(252, 92, 39, 0.12);
          .item-gen-style-fn(#fc5c27, 14, 3px 6px 4px 20px, 3, 5, "\e696");
        }

        .item-rise-bg-no-icon {
          border-radius: 2px;
          background: rgba(252, 92, 39, 0.12);
          .item-gen-style-fn(#fc5c27, 14, 3px 6px 4px 6px, 3, 5, "");
        }

        .item-rise {
          .item-gen-style-fn(#fc5c27, 16, 0px 0px 0px 14px, 2, 0, "\e696");
        }

        .item-rise-no-icon {
          .item-gen-style-fn(#fc5c27, 16, 0px 0px 0px 0px, 2, 0, "");
        }

        .item-fall-bg {
          border-radius: 2px;
          background: rgba(78, 203, 116, 0.2);
          .item-gen-style-fn(#4ecb74, 14, 3px 6px 4px 20px, 3, 5, "\e697");
        }

        .item-fall-bg-no-icon {
          border-radius: 2px;
          background: rgba(78, 203, 116, 0.2);
          .item-gen-style-fn(#4ecb74, 14, 3px 6px 4px 6px, 3, 5, "");
        }

        .item-fall {
          .item-gen-style-fn(#4ecb74, 16, 0px 0px 0px 14px, 2, 0, "\e697");
        }

        .item-fall-no-icon {
          .item-gen-style-fn(#4ecb74, 16, 0px 0px 0px 0px, 2, 0, "");
        }

        .item-flat-bg {
          border-radius: 2px;
          background: rgba(78, 106, 255, 0.2);
          .item-gen-style-fn(#4e6aff, 14, 3px 6px 4px 6px, 0, 0, "");
        }

        .item-flat {
          .item-gen-style-fn(#4e6aff, 16, 0px, 0, 0, "");
        }

        .item-white-bg {
          border-radius: 2px;
          background: rgba(255, 255, 255, 0.12);
          .item-gen-style-fn(rgba(255, 255, 255, 0.85), 14, 3px 6px 4px 6px, 0, 0, "");
        }

        .item-white {
          .item-gen-style-fn(rgba(255, 255, 255, 0.85), 16, 0px, 0, 0, "");
        }
      }
    }

    .shows {
      margin-top: 12px;

      .tips-explain-item {
        padding-left: 18px !important;
        margin-bottom: 20px !important;

        &:after {
          top: 8px !important;
        }
      }
    }

    .tips-explain-btn {
      width: 100%;
      text-align: right;
      margin-top: 28px;
    }
  }

  :deep(.ant-modal-body) {
    max-height: none;
  }
}
