.view-portrait-modal-content {
  height: 100%;

  .do-modal-feedback-btn {
    right: 110px;
  }

  .ant-spin-nested-loading {
    height: calc(100% - 115px);

    :deep(.ant-spin-container) {
      height: 100%;
    }
  }

  :deep(.view-portrait-radio-group) {
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background: transparent;
      color: @primary-color !important;
    }
  }
}
