.view-portrait-modal-content {
  .do-modal-feedback-btn {
    right: 110px;
  }

  :deep(.view-portrait-radio-group) {
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background: transparent;
      color: @primary-color !important;
    }
  }
}
